@charset "UTF-8";
/*Mobile First*/

*{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
html{
    height: 100vh;
}
body{
    background: url(../imagens/mobile.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
}
main{
    background-color: rgba(255, 255, 255, 0.199);
    width: 90vw;
    margin: auto;
    margin-top: 20px;
    border-radius: 10px;
    padding: 10px;
}
h1{
    text-align: center;
    font-size: 2em;
    color: white;
    text-shadow: 2px 2px 2px black;
}
img{
    margin: auto;
    display: block;
}
#tablet, #pc{
    display: none;
}
