@charset "UTF-8";
*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
header{
    background-color: black;
    width: 100%;
}

#burguer{
    background-color:black;
    display: flex;
    color: white;
    text-align: right;
    padding: 15px;
    cursor: pointer;
}

#burguer:hover{
    background-color: #ffe100;
    color: black;
}

#burguer > p{
    margin: 0px;
    text-align: left;
}


span{
    margin-left: 80%;
    display: block;
    float: right;
}

menu{
    display: none;
    position: fixed;
    background-color: black;
    width: 100%;
}
menu > ul{
    list-style-type: none;
    flex-direction: column;
    margin: 0;

}
menu > ul > li{
    margin: 0px 20px 0px 0px;
    padding: 5px 15px 5px 5px;
    text-align: right;
}

menu > ul > li > a{
    color: aliceblue ;
    text-decoration: none;
    font-size: 1.3em;
}
menu > ul > li > a:hover{
    color: rgb(255, 251, 0);
}


main{
    width: 100%;
    height: 600px;
    background: url(../imagens/grande.jpg) no-repeat;
    background-size: cover;
}
#sobre{
    background-color: #ffe100;
    width: 100%;
    padding: 0px 20px 20px 20px;
}
h1{
    font-size: 2em;
    text-align: center;
    padding: 5px 0px 10px 0px;

}
picture#pic-sobre{
    font-size: 1em;
    text-align: justify;
}
#p-02{
    display: none;
}

.servicos{
    width: 100%;
    background-color: black;

}
.servicos > h1{
    color: white;
}
article{
    background-color: rgba(255, 255, 255, 0.634) !important;
    margin: 15px;
}
card-img-top > img{
    padding: 20px;
}
.card-body{
    width: 100%;
    background-color: #ffe100;
}
.flip-card {
    background-color: transparent;
    width: 300px;
    height: 300px;
    perspective: 1000px;
  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  .flip-card-front {
    background-color: #bbb;
    color: black;
  }
  
  .flip-card-back {
    background-color: #2980b9;
    color: white;
    transform: rotateY(180deg);
  }
