*{
    margin: 0;
    padding: 0;
}
body
{
    background-color:rgb(222, 241, 249);
}
main p{
    width: 2em;
}
h1,h2
{
    text-align: center;
    margin: 10px;
    color: rgb(0, 0, 0);
    text-shadow: 1px 2px 3px rgb(215, 186, 186);

}
table{
    width: 60%;
    color: rgb(3, 3, 3);
    margin: auto;
    border-collapse:collapse;
}
tr{
    text-align: center;
    height: 25px;
}
td,th{
    border: 1px solid rgb(0, 0, 0);
    
}
th{
    background-color: white;
    color: black;
}
.time1
{
    background-image: linear-gradient(to right, rgb(21, 127, 16), rgb(122, 186, 112));
}
.time2
{
    background-image: linear-gradient(to right, rgb(247, 0, 0), rgb(250, 250, 250));
}
.time3
{
    background-image: linear-gradient(to right, rgb(131, 29, 28), rgb(69, 155, 58));
    color: white;
}
.time4
{
    background-image: linear-gradient(to right, #000000, rgb(254, 254, 254));
    color: black;
}

