body{
    text-align: center;
    font: normal 13pt Arial;
}
button{
    cursor: pointer;
    background-color: transparent;
    border: none;
    float: right;
    margin-top: 80%;
}
#lua{
    display: none;
}
img{
    width: 30px;
}

.dark-mode{
    background-color: darkgrey;
    color: white;
}
