body{
    text-align: center;
}
button{
    cursor: pointer;
    background-color: transparent;
    border: none;
    float: right;
    margin-top: 80%;
}
#lua{
    display: none;
}
img{
    width: 40px;
}

.dark-mode{
    background-color: darkgrey;
}
