@charset "UTF-8";

/*
Paleta de cores
Verde: #49a09d
Lilas: #5f2c82

*/

body{
    background-color: #5f2c82;
}
main{
    border-radius: 10px;
}
div#imagem-esqueci{
    display: block;
    background: url(../imagens/merry.jpg)no-repeat;
    background-size: cover;
    background-position: center center;
    height: 250px;
    border-radius: 10px 10px 0px 0px;
}
div#formulario p {
    font-size: 0.8em;
}

form > div.campo{
    background-color: #9042c4;
    border: 2px solid #9042c4;
    width: 100%;
    display: block;
    height: 40px;
    border-radius: 8px;
    margin: 5px 0px;
}

div.campo > i{
    color: white;
    font-size: 2em;
    width: 40px;
    padding: 5px;
}
div.campo > input{
    background-color: #5ed6d2;
    font-size: 1em;
    width: calc(100% - 45px);
    height: 70%;
    border-radius: 8px;
    padding: 4px;
}

div.campo > input:focus-within{
    background-color: white;
    border: none;
}


form > input[type=submit]
{
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color:#49a09d ;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;

}
form > input[type=submit]:hover{
    background-color: #347270;
    transition: 0.5s;
}